<div id="<%= dom_id toy_reservation %>">
  <p>
    <strong>User:</strong>
    <%= toy_reservation.user_id %>
  </p>

  <p>
    <strong>Toy type:</strong>
    <%= toy_reservation.toy_type_id %>
  </p>

  <p>
    <strong>Fulfilled:</strong>
    <%= toy_reservation.fulfilled %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= toy_reservation.start_date %>
  </p>

</div>
