<div id="<%= dom_id toy_type %>">
  <p>
    <strong>Name:</strong>
    <%= toy_type.name %>
  </p>

  <p>
    <strong>Min age:</strong>
    <%= toy_type.min_age %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= toy_type.max_age %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= toy_type.weight %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= toy_type.size %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= toy_type.quantity %>
  </p>

</div>
