<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Street address1:</strong>
    <%= location.street_address1 %>
  </p>

  <p>
    <strong>Street address2:</strong>
    <%= location.street_address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= location.zip_code %>
  </p>

</div>
